@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
        p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}

@media(min-width: 500px) {
    .home-screen {
            .home-screen-header {
                width: 90%;
                margin: 0 auto;
                margin-top: 5%;
                text-align: center;
                font-size: 2rem;
            }
            .home-screen-intro {
                width: 80%;
                margin: 0 auto;
                margin-top: 20vh;
                text-align: center;
                font-size: 1.8rem;
            }
            .home-screen-cta {
                font-size: 1.8rem;
                text-align: center;
                margin-top: 10vh;
            }
            button {
                width: 90%;
                margin-left: 5vw;
                margin-top: 15vh;
                font-size: 1.8rem;
            }
        }
    }
@media(min-width: 500px) {
    .quiz-screen {
         p {
            text-align: center;
            font-size: 1.5rem;
        }
        .quiz-screen-question {
            margin-top: 25vh;
            button {
                margin: 0 auto;
            }
           }
        }
    }
@media(min-width: 500px) {
    .results-screen {
        .results-screen-header {
            width: 90%;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
        ul {
            width: 90%;
            margin: 0 auto;
        }
        button {
            font-size: 1.5rem;
            display: block;
            margin: 0 auto;
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }     
}
